.battleship-cell {
   width: 20px;
   height: 20px;
   border: solid 1px;
   text-align: center;
}

.battleship-board {
   float: left;
   margin: 30px;
}

.battleship-playername {
   font-size: 24px;
}
