#tic-tac-toe-3d-table {
  border: solid 2px;
  margin: 10px 0px 0px 0px;
  -webkit-transform: skew(-25deg);
  -ms-transform: skew(-25deg);
  -moz-transform: skew(-25deg);
  -o-transform: skew(-25deg);
}

.tic-tac-toe-3d-td {
  border: solid 1px;
  text-align: center;
  height: 50px;
  width: 50px
}
